openapi: 3.0.3
info:
  contact:
    email: tobiah@protonmail.com
  description: |
    Simple API for data from the game Warframe.
    [Parser Docs](https://wfcd.github.io/warframe-worldstate-parser/)
    [Items Types](https://github.com/WFCD/warframe-items/blob/master/index.d.ts)
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: WarframeStat.us API
  version: 2.0.8
  x-logo:
    url: https://warframestat.us/wfcd_logo_color.png
servers:
  - description: Production Server
    url: https://api.warframestat.us
tags:
  - description: Everything about Warframe
    externalDocs:
      description: Find out more
      url: https://warframe.com
    name: Warframe
  - description: Warframe Worldstate Data
    externalDocs:
      description: Find out more
      url: https://discord.gg/jGZxH9f
    name: Worldstate
  - description: Review Source Code
    externalDocs:
      description: Check our source code
      url: https://github.com/wfcd/warframe-status
    name: GitHub
  - description: Potentially still in active development
    name: Unstable
  - description: Follows a consistent pattern for searching data
    name: Searchable
  - description: Proxy data for Digital Extreme's semi-regular Riven Data dumps
    name: Rivens
  - description: Direct access via API to the data we use to parse the worldstate
    name: Static Processing Data
paths:
  /{platform}:
    get:
      description: The full translated Warframe Worldstate
      operationId: getWorldstateByPlatform
      parameters:
        - deprecated: true
          description: Language to retrieve. Doesn't always work with caching. See Language
            query string parameter.
          explode: false
          in: header
          name: Accept-Language
          required: false
          schema:
            $ref: '#/components/schemas/language'
          style: simple
        - allowEmptyValue: false
          deprecated: false
          description: "Language to retrieve. With Caching, this has become required\
          \ if you want your reply to always match your request."
          explode: true
          in: query
          name: language
          required: true
          schema:
            $ref: '#/components/schemas/language'
          style: form
        - description: Platform to provide data for
          explode: false
          in: path
          name: platform
          required: true
          schema:
            $ref: '#/components/schemas/platform'
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ws'
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_404_response'
          description: Path or sub-path not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get Warframe Worldstate Data for the provided platform
      tags:
        - Worldstate
  /{platform}/alerts:
    get:
      description: Description and rewards for Alerts
      operationId: getAlertsByPlatform
      parameters:
        - deprecated: true
          description: Language to retrieve. Doesn't always work with caching. See Language
            query string parameter.
          explode: false
          in: header
          name: Accept-Language
          required: false
          schema:
            $ref: '#/components/schemas/language'
          style: simple
        - allowEmptyValue: false
          deprecated: false
          description: "Language to retrieve. With Caching, this has become required\
          \ if you want your reply to always match your request."
          explode: true
          in: query
          name: language
          required: true
          schema:
            $ref: '#/components/schemas/language'
          style: form
        - description: Platform to provide data for
          explode: false
          in: path
          name: platform
          required: true
          schema:
            $ref: '#/components/schemas/platform'
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alerts'
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Alerts data
      tags:
        - Worldstate
  /{platform}/arbitration:
    get:
      description: Description of the currently active arbitration
      operationId: getArbitrationByPlatform
      parameters:
        - deprecated: true
          description: Language to retrieve. Doesn't always work with caching. See Language
            query string parameter.
          explode: false
          in: header
          name: Accept-Language
          required: false
          schema:
            $ref: '#/components/schemas/language'
          style: simple
        - allowEmptyValue: false
          deprecated: false
          description: "Language to retrieve. With Caching, this has become required\
          \ if you want your reply to always match your request."
          explode: true
          in: query
          name: language
          required: true
          schema:
            $ref: '#/components/schemas/language'
          style: form
        - description: Platform to provide data for
          explode: false
          in: path
          name: platform
          required: true
          schema:
            $ref: '#/components/schemas/platform'
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/arbitration'
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: "[Unstable] Arbitration data"
      tags:
        - Worldstate
        - Unstable
  /{platform}/archonHunt:
    get:
      description: Data about the missions for the current archon hunt
      operationId: getArchonHuntByPlatform
      parameters:
        - description: Platform to provide data for
          explode: false
          in: path
          name: platform
          required: true
          schema:
            $ref: '#/components/schemas/platform'
          style: simple
        - deprecated: true
          description: Language to retrieve. Doesn't always work with caching. See Language
            query string parameter.
          explode: false
          in: header
          name: Accept-Language
          required: false
          schema:
            $ref: '#/components/schemas/language'
          style: simple
        - allowEmptyValue: false
          deprecated: false
          description: "Language to retrieve. With Caching, this has become required\
          \ if you want your reply to always match your request."
          explode: true
          in: query
          name: language
          required: true
          schema:
            $ref: '#/components/schemas/language'
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/archonHunt'
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Current Archon Hunt Data
      tags:
        - Worldstate
  /{platform}/cambionCycle:
    get:
      description: Data on the Vome/Fass cycle for the Cambion Drift on Deimos
      operationId: getCambionByPlatform
      parameters:
        - deprecated: true
          description: Language to retrieve. Doesn't always work with caching. See Language
            query string parameter.
          explode: false
          in: header
          name: Accept-Language
          required: false
          schema:
            $ref: '#/components/schemas/language'
          style: simple
        - allowEmptyValue: false
          deprecated: false
          description: "Language to retrieve. With Caching, this has become required\
          \ if you want your reply to always match your request."
          explode: true
          in: query
          name: language
          required: true
          schema:
            $ref: '#/components/schemas/language'
          style: form
        - description: Platform to provide data for
          explode: false
          in: path
          name: platform
          required: true
          schema:
            $ref: '#/components/schemas/platform'
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cambionCycle'
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get Current Cambion Drift Status
      tags:
        - Worldstate
  /{platform}/cetusCycle:
    get:
      description: Data on the day/night cycle for Cetus on Earth
      operationId: getCetusByPlatform
      parameters:
        - deprecated: true
          description: Language to retrieve. Doesn't always work with caching. See Language
            query string parameter.
          explode: false
          in: header
          name: Accept-Language
          required: false
          schema:
            $ref: '#/components/schemas/language'
          style: simple
        - allowEmptyValue: false
          deprecated: false
          description: "Language to retrieve. With Caching, this has become required\
          \ if you want your reply to always match your request."
          explode: true
          in: query
          name: language
          required: true
          schema:
            $ref: '#/components/schemas/language'
          style: form
        - description: Platform to provide data for
          explode: false
          in: path
          name: platform
          required: true
          schema:
            $ref: '#/components/schemas/platform'
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cetusCycle'
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get Current Cetus Status
      tags:
        - Worldstate
  /{platform}/conclaveChallenges:
    get:
      description: Data on each day and week's conclave challenges
      operationId: getConclaveChallengesByPlatform
      parameters:
        - deprecated: true
          description: Language to retrieve. Doesn't always work with caching. See Language
            query string parameter.
          explode: false
          in: header
          name: Accept-Language
          required: false
          schema:
            $ref: '#/components/schemas/language'
          style: simple
        - allowEmptyValue: false
          deprecated: false
          description: "Language to retrieve. With Caching, this has become required\
          \ if you want your reply to always match your request."
          explode: true
          in: query
          name: language
          required: true
          schema:
            $ref: '#/components/schemas/language'
          style: form
        - description: Platform to provide data for
          explode: false
          in: path
          name: platform
          required: true
          schema:
            $ref: '#/components/schemas/platform'
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conclaveChallenges'
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get Conclave Challenge Data
      tags:
        - Worldstate
  /{platform}/constructionProgress:
    get:
      description: Construction percentages for showing how far constructed the enemy
        fleets are.
      operationId: getConstructionByPlatform
      parameters:
        - deprecated: true
          description: Language to retrieve. Doesn't always work with caching. See Language
            query string parameter.
          explode: false
          in: header
          name: Accept-Language
          required: false
          schema:
            $ref: '#/components/schemas/language'
          style: simple
        - allowEmptyValue: false
          deprecated: false
          description: "Language to retrieve. With Caching, this has become required\
          \ if you want your reply to always match your request."
          explode: true
          in: query
          name: language
          required: true
          schema:
            $ref: '#/components/schemas/language'
          style: form
        - description: Platform to provide data for
          explode: false
          in: path
          name: platform
          required: true
          schema:
            $ref: '#/components/schemas/platform'
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/construction'
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get Construction Progress for Fomorians and Razorbacks
      tags:
        - Worldstate
  /{platform}/dailyDeals:
    get:
      description: Darvo's Daily Deal details
      operationId: getDealsByPlatform
      parameters:
        - deprecated: true
          description: Language to retrieve. Doesn't always work with caching. See Language
            query string parameter.
          explode: false
          in: header
          name: Accept-Language
          required: false
          schema:
            $ref: '#/components/schemas/language'
          style: simple
        - allowEmptyValue: false
          deprecated: false
          description: "Language to retrieve. With Caching, this has become required\
          \ if you want your reply to always match your request."
          explode: true
          in: query
          name: language
          required: true
          schema:
            $ref: '#/components/schemas/language'
          style: form
        - description: Platform to provide data for
          explode: false
          in: path
          name: platform
          required: true
          schema:
            $ref: '#/components/schemas/platform'
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dailyDeals'
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Daily Deal information from Darvo
      tags:
        - Worldstate
  /{platform}/darkSectors:
    get:
      deprecated: true
      description: Dark Sector (Rail Wars) data and history. Digital Extremes has
        emptied several of these.
      operationId: getDarkSectorsByPlatform
      parameters:
        - deprecated: true
          description: Language to retrieve. Doesn't always work with caching. See Language
            query string parameter.
          explode: false
          in: header
          name: Accept-Language
          required: false
          schema:
            $ref: '#/components/schemas/language'
          style: simple
        - allowEmptyValue: false
          deprecated: false
          description: "Language to retrieve. With Caching, this has become required\
          \ if you want your reply to always match your request."
          explode: true
          in: query
          name: language
          required: true
          schema:
            $ref: '#/components/schemas/language'
          style: form
        - description: Platform to provide data for
          explode: false
          in: path
          name: platform
          required: true
          schema:
            $ref: '#/components/schemas/platform'
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/darkSectors'
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Dark Sector occupation and history
      tags:
        - Worldstate
  /{platform}/earthCycle:
    get:
      description: The current Earth day/night cycle progress.
      operationId: getEarthByPlatform
      parameters:
        - deprecated: true
          description: Language to retrieve. Doesn't always work with caching. See Language
            query string parameter.
          explode: false
          in: header
          name: Accept-Language
          required: false
          schema:
            $ref: '#/components/schemas/language'
          style: simple
        - allowEmptyValue: false
          deprecated: false
          description: "Language to retrieve. With Caching, this has become required\
          \ if you want your reply to always match your request."
          explode: true
          in: query
          name: language
          required: true
          schema:
            $ref: '#/components/schemas/language'
          style: form
        - description: Platform to provide data for
          explode: false
          in: path
          name: platform
          required: true
          schema:
            $ref: '#/components/schemas/platform'
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/earthCycle'
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get the current Earth rotation information
      tags:
        - Worldstate
  /{platform}/events:
    get:
      description: "Events, such as Fomorian Attacks are included here"
      operationId: getEventsByPlatform
      parameters:
        - deprecated: true
          description: Language to retrieve. Doesn't always work with caching. See Language
            query string parameter.
          explode: false
          in: header
          name: Accept-Language
          required: false
          schema:
            $ref: '#/components/schemas/language'
          style: simple
        - allowEmptyValue: false
          deprecated: false
          description: "Language to retrieve. With Caching, this has become required\
          \ if you want your reply to always match your request."
          explode: true
          in: query
          name: language
          required: true
          schema:
            $ref: '#/components/schemas/language'
          style: form
        - description: Platform to provide data for
          explode: false
          in: path
          name: platform
          required: true
          schema:
            $ref: '#/components/schemas/platform'
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/events'
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Listing of ongoing events
      tags:
        - Worldstate
  /{platform}/fissures:
    get:
      description: Information about current Void Fissure missions
      operationId: getFissuresByPlatform
      parameters:
        - deprecated: true
          description: Language to retrieve. Doesn't always work with caching. See Language
            query string parameter.
          explode: false
          in: header
          name: Accept-Language
          required: false
          schema:
            $ref: '#/components/schemas/language'
          style: simple
        - allowEmptyValue: false
          deprecated: false
          description: "Language to retrieve. With Caching, this has become required\
          \ if you want your reply to always match your request."
          explode: true
          in: query
          name: language
          required: true
          schema:
            $ref: '#/components/schemas/language'
          style: form
        - description: Platform to provide data for
          explode: false
          in: path
          name: platform
          required: true
          schema:
            $ref: '#/components/schemas/platform'
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fissures'
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Data on current fissures
      tags:
        - Worldstate
  /{platform}/flashSales:
    get:
      description: "Popular Deals, discounts, featured deals."
      operationId: getSalesByPlatform
      parameters:
        - deprecated: true
          description: Language to retrieve. Doesn't always work with caching. See Language
            query string parameter.
          explode: false
          in: header
          name: Accept-Language
          required: false
          schema:
            $ref: '#/components/schemas/language'
          style: simple
        - allowEmptyValue: false
          deprecated: false
          description: "Language to retrieve. With Caching, this has become required\
          \ if you want your reply to always match your request."
          explode: true
          in: query
          name: language
          required: true
          schema:
            $ref: '#/components/schemas/language'
          style: form
        - description: Platform to provide data for
          explode: false
          in: path
          name: platform
          required: true
          schema:
            $ref: '#/components/schemas/platform'
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flashSales'
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Current Flash Sales from Darvo
      tags:
        - Worldstate
  /{platform}/globalUpgrades:
    get:
      description: "Any current modifiers applied to all users, such as double drops."
      operationId: getGlobalEffectsByPlatform
      parameters:
        - deprecated: true
          description: Language to retrieve. Doesn't always work with caching. See Language
            query string parameter.
          explode: false
          in: header
          name: Accept-Language
          required: false
          schema:
            $ref: '#/components/schemas/language'
          style: simple
        - allowEmptyValue: false
          deprecated: false
          description: "Language to retrieve. With Caching, this has become required\
          \ if you want your reply to always match your request."
          explode: true
          in: query
          name: language
          required: true
          schema:
            $ref: '#/components/schemas/language'
          style: form
        - description: Platform to provide data for
          explode: false
          in: path
          name: platform
          required: true
          schema:
            $ref: '#/components/schemas/platform'
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/globalUpgrades'
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Current Global Upgrades
      tags:
        - Worldstate
  /{platform}/invasions:
    get:
      description: "Data on invasion missions, such as estimated completion time,\
        \ rewards, etc."
      operationId: getInvasionsByPlatform
      parameters:
        - deprecated: true
          description: Language to retrieve. Doesn't always work with caching. See Language
            query string parameter.
          explode: false
          in: header
          name: Accept-Language
          required: false
          schema:
            $ref: '#/components/schemas/language'
          style: simple
        - allowEmptyValue: false
          deprecated: false
          description: "Language to retrieve. With Caching, this has become required\
          \ if you want your reply to always match your request."
          explode: true
          in: query
          name: language
          required: true
          schema:
            $ref: '#/components/schemas/language'
          style: form
        - description: Platform to provide data for
          explode: false
          in: path
          name: platform
          required: true
          schema:
            $ref: '#/components/schemas/platform'
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invasions'
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Invasion Data
      tags:
        - Worldstate
  /{platform}/kuva:
    get:
      description: "Current Kuva Mission listing (provided by [semlar](https://10o.io/kuvalog))."
      operationId: getKuvaByPlatform
      parameters:
        - deprecated: true
          description: Language to retrieve. Doesn't always work with caching. See Language
            query string parameter.
          explode: false
          in: header
          name: Accept-Language
          required: false
          schema:
            $ref: '#/components/schemas/language'
          style: simple
        - allowEmptyValue: false
          deprecated: false
          description: "Language to retrieve. With Caching, this has become required\
          \ if you want your reply to always match your request."
          explode: true
          in: query
          name: language
          required: true
          schema:
            $ref: '#/components/schemas/language'
          style: form
        - description: Platform to provide data for
          explode: false
          in: path
          name: platform
          required: true
          schema:
            $ref: '#/components/schemas/platform'
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/arbitration'
                type: array
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: "[Unstable] Current Kuva Mission listing"
      tags:
        - Worldstate
        - Unstable
  /{platform}/news:
    get:
      description: Translated News items from the worldstate
      operationId: getNewsByPlatform
      parameters:
        - description: Platform to provide data for
          explode: false
          in: path
          name: platform
          required: true
          schema:
            $ref: '#/components/schemas/platform'
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/news'
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Current Listing of News items
      tags:
        - Worldstate
  /{platform}/nightwave:
    get:
      description: "The Current cycle and challenges of Nightwave, a battle-pass-esque\
        \ rotation and challenge system"
      operationId: getNightwaveByPlatform
      parameters:
        - deprecated: true
          description: Language to retrieve. Doesn't always work with caching. See Language
            query string parameter.
          explode: false
          in: header
          name: Accept-Language
          required: false
          schema:
            $ref: '#/components/schemas/language'
          style: simple
        - allowEmptyValue: false
          deprecated: false
          description: "Language to retrieve. With Caching, this has become required\
          \ if you want your reply to always match your request."
          explode: true
          in: query
          name: language
          required: true
          schema:
            $ref: '#/components/schemas/language'
          style: form
        - description: Platform to provide data for
          explode: false
          in: path
          name: platform
          required: true
          schema:
            $ref: '#/components/schemas/platform'
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nightwave'
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get the current Nightwave state.
      tags:
        - Worldstate
  /{platform}/persistentEnemies:
    get:
      description: Data about current acolytes attacking the Sol System
      operationId: getAcolytesByPlatform
      parameters:
        - deprecated: true
          description: Language to retrieve. Doesn't always work with caching. See Language
            query string parameter.
          explode: false
          in: header
          name: Accept-Language
          required: false
          schema:
            $ref: '#/components/schemas/language'
          style: simple
        - allowEmptyValue: false
          deprecated: false
          description: "Language to retrieve. With Caching, this has become required\
          \ if you want your reply to always match your request."
          explode: true
          in: query
          name: language
          required: true
          schema:
            $ref: '#/components/schemas/language'
          style: form
        - description: Platform to provide data for
          explode: false
          in: path
          name: platform
          required: true
          schema:
            $ref: '#/components/schemas/platform'
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/persistentEnemies'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get Persistent Enemy Data
      tags:
        - Worldstate
  /{platform}/rivens:
    get:
      description: "Data about averages, deviations, medians, miniums, and maxes for\
        \ all rivens for the provided platform"
      operationId: getRivensByPlatform
      parameters:
        - deprecated: true
          description: Language to retrieve. Doesn't always work with caching. See Language
            query string parameter.
          explode: false
          in: header
          name: Accept-Language
          required: false
          schema:
            $ref: '#/components/schemas/language'
          style: simple
        - allowEmptyValue: false
          deprecated: false
          description: "Language to retrieve. With Caching, this has become required\
          \ if you want your reply to always match your request."
          explode: true
          in: query
          name: language
          required: true
          schema:
            $ref: '#/components/schemas/language'
          style: form
        - description: Platform to provide data for
          explode: false
          in: path
          name: platform
          required: true
          schema:
            $ref: '#/components/schemas/platform'
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rivenType'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get Riven statistic data
      tags:
        - Worldstate
        - Rivens
  /{platform}/rivens/search/{query}:
    get:
      description: "Data about averages, deviations, medians, miniums, and maxes for\
        \ rivens whose name match the query for the provided platform"
      operationId: searchRivensByPlatform
      parameters:
        - description: Platform to provide data for
          explode: false
          in: path
          name: platform
          required: true
          schema:
            $ref: '#/components/schemas/platform'
          style: simple
        - description: Riven name to search for
          explode: false
          in: path
          name: query
          required: true
          schema:
            format: utf8
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rivenType'
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get Riven statistic data
      tags:
        - Worldstate
        - Rivens
  /{platform}/sentientOutposts:
    get:
      description: "Status data for current Sentient Outpost, if any. Parsed source\
        \ is combined data from DE\\'s worldstate and [semlar\\'s data](https://semlar.com/anomaly.json)"
      operationId: getOutpostsByPlatform
      parameters:
        - description: Platform to provide data for
          explode: false
          in: path
          name: platform
          required: true
          schema:
            $ref: '#/components/schemas/platform'
          style: simple
        - deprecated: true
          description: Language to retrieve. Doesn't always work with caching. See Language
            query string parameter.
          explode: false
          in: header
          name: Accept-Language
          required: false
          schema:
            $ref: '#/components/schemas/language'
          style: simple
        - allowEmptyValue: false
          deprecated: false
          description: "Language to retrieve. With Caching, this has become required\
          \ if you want your reply to always match your request."
          explode: true
          in: query
          name: language
          required: true
          schema:
            $ref: '#/components/schemas/language'
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getOutpostsByPlatform_200_response'
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: "Get the current Sentient Outpost, if any"
      tags:
        - Worldstate
  /{platform}/simaris:
    get:
      description: Status data for Simaris' Sanctuary
      operationId: getSimarisByPlatform
      parameters:
        - description: Platform to provide data for
          explode: false
          in: path
          name: platform
          required: true
          schema:
            $ref: '#/components/schemas/platform'
          style: simple
        - deprecated: true
          description: Language to retrieve. Doesn't always work with caching. See Language
            query string parameter.
          explode: false
          in: header
          name: Accept-Language
          required: false
          schema:
            $ref: '#/components/schemas/language'
          style: simple
        - allowEmptyValue: false
          deprecated: false
          description: "Language to retrieve. With Caching, this has become required\
          \ if you want your reply to always match your request."
          explode: true
          in: query
          name: language
          required: true
          schema:
            $ref: '#/components/schemas/language'
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/simaris'
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get the current Sanctuary Status
      tags:
        - Worldstate
  /{platform}/sortie:
    get:
      description: Data about the missions for the current sortie
      operationId: getSortieByPlatform
      parameters:
        - description: Platform to provide data for
          explode: false
          in: path
          name: platform
          required: true
          schema:
            $ref: '#/components/schemas/platform'
          style: simple
        - deprecated: true
          description: Language to retrieve. Doesn't always work with caching. See Language
            query string parameter.
          explode: false
          in: header
          name: Accept-Language
          required: false
          schema:
            $ref: '#/components/schemas/language'
          style: simple
        - allowEmptyValue: false
          deprecated: false
          description: "Language to retrieve. With Caching, this has become required\
          \ if you want your reply to always match your request."
          explode: true
          in: query
          name: language
          required: true
          schema:
            $ref: '#/components/schemas/language'
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sortie'
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Current Sortie Data
      tags:
        - Worldstate
  /{platform}/steelPath:
    get:
      description: Data about the missions for the current sortie
      operationId: getSteelPathByPlatform
      parameters:
        - description: Platform to provide data for
          explode: false
          in: path
          name: platform
          required: true
          schema:
            $ref: '#/components/schemas/platform'
          style: simple
        - deprecated: true
          description: Language to retrieve. Doesn't always work with caching. See Language
            query string parameter.
          explode: false
          in: header
          name: Accept-Language
          required: false
          schema:
            $ref: '#/components/schemas/language'
          style: simple
        - allowEmptyValue: false
          deprecated: false
          description: "Language to retrieve. With Caching, this has become required\
          \ if you want your reply to always match your request."
          explode: true
          in: query
          name: language
          required: true
          schema:
            $ref: '#/components/schemas/language'
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/steelPath'
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Current Steel Path Data
      tags:
        - Worldstate
  /{platform}/syndicateMissions:
    get:
      description: "Cycling through different nodes each day, these are a general\
        \ listing of the nodes that each syndicate will use for the day."
      operationId: getSyndicatesByPlatform
      parameters:
        - description: Platform to provide data for
          explode: false
          in: path
          name: platform
          required: true
          schema:
            $ref: '#/components/schemas/platform'
          style: simple
        - deprecated: true
          description: Language to retrieve. Doesn't always work with caching. See Language
            query string parameter.
          explode: false
          in: header
          name: Accept-Language
          required: false
          schema:
            $ref: '#/components/schemas/language'
          style: simple
        - allowEmptyValue: false
          deprecated: false
          description: "Language to retrieve. With Caching, this has become required\
          \ if you want your reply to always match your request."
          explode: true
          in: query
          name: language
          required: true
          schema:
            $ref: '#/components/schemas/language'
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/syndicateMissions'
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Listing of Syndicate mission nodes
      tags:
        - Worldstate
  /{platform}/timestamp:
    get:
      description: The time that the worldstate was last generated
      operationId: getTimestampByPlatform
      parameters:
        - description: Platform to provide data for
          explode: false
          in: path
          name: platform
          required: true
          schema:
            $ref: '#/components/schemas/platform'
          style: simple
        - deprecated: true
          description: Language to retrieve. Doesn't always work with caching. See Language
            query string parameter.
          explode: false
          in: header
          name: Accept-Language
          required: false
          schema:
            $ref: '#/components/schemas/language'
          style: simple
        - allowEmptyValue: false
          deprecated: false
          description: "Language to retrieve. With Caching, this has become required\
          \ if you want your reply to always match your request."
          explode: true
          in: query
          name: language
          required: true
          schema:
            $ref: '#/components/schemas/language'
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/timestamp'
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get the timestamp that the current worldstate was generated at.
      tags:
        - Worldstate
  /{platform}/vallisCycle:
    get:
      description: The current cycle of the Orb Vallis warm/cold cycle
      operationId: getVallisByPlatform
      parameters:
        - description: Platform to provide data for
          explode: false
          in: path
          name: platform
          required: true
          schema:
            $ref: '#/components/schemas/platform'
          style: simple
        - deprecated: true
          description: Language to retrieve. Doesn't always work with caching. See Language
            query string parameter.
          explode: false
          in: header
          name: Accept-Language
          required: false
          schema:
            $ref: '#/components/schemas/language'
          style: simple
        - allowEmptyValue: false
          deprecated: false
          description: "Language to retrieve. With Caching, this has become required\
          \ if you want your reply to always match your request."
          explode: true
          in: query
          name: language
          required: true
          schema:
            $ref: '#/components/schemas/language'
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vallisCycle'
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get the current state of the Orb Vallis
      tags:
        - Worldstate
  /{platform}/vaultTrader:
    get:
      description: "Information on the current Varzia offerings, or when she will\
        \ arrive."
      operationId: getVarziaByPlatform
      parameters:
        - description: Platform to provide data for
          explode: false
          in: path
          name: platform
          required: true
          schema:
            $ref: '#/components/schemas/platform'
          style: simple
        - deprecated: true
          description: Language to retrieve. Doesn't always work with caching. See Language
            query string parameter.
          explode: false
          in: header
          name: Accept-Language
          required: false
          schema:
            $ref: '#/components/schemas/language'
          style: simple
        - allowEmptyValue: false
          deprecated: false
          description: "Language to retrieve. With Caching, this has become required\
          \ if you want your reply to always match your request."
          explode: true
          in: query
          name: language
          required: true
          schema:
            $ref: '#/components/schemas/language'
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voidTrader'
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get the current Varzia Information
      tags:
        - Worldstate
  /{platform}/voidTrader:
    get:
      description: "Information on the current Void Trader offerings, or when he will\
        \ arrive."
      operationId: getBaroByPlatform
      parameters:
        - description: Platform to provide data for
          explode: false
          in: path
          name: platform
          required: true
          schema:
            $ref: '#/components/schemas/platform'
          style: simple
        - deprecated: true
          description: Language to retrieve. Doesn't always work with caching. See Language
            query string parameter.
          explode: false
          in: header
          name: Accept-Language
          required: false
          schema:
            $ref: '#/components/schemas/language'
          style: simple
        - allowEmptyValue: false
          deprecated: false
          description: "Language to retrieve. With Caching, this has become required\
          \ if you want your reply to always match your request."
          explode: true
          in: query
          name: language
          required: true
          schema:
            $ref: '#/components/schemas/language'
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voidTrader'
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get the current Void Trader Information
      tags:
        - Worldstate
  /{platform}/voidTraders:
    get:
      description: "Information on the current Void Traders offerings, or when they\
        \ will arrive."
      operationId: getVoidTradersByPlatform
      parameters:
        - description: Platform to provide data for
          explode: false
          in: path
          name: platform
          required: true
          schema:
            $ref: '#/components/schemas/platform'
          style: simple
        - deprecated: true
          description: Language to retrieve. Doesn't always work with caching. See Language
            query string parameter.
          explode: false
          in: header
          name: Accept-Language
          required: false
          schema:
            $ref: '#/components/schemas/language'
          style: simple
        - allowEmptyValue: false
          deprecated: false
          description: "Language to retrieve. With Caching, this has become required\
          \ if you want your reply to always match your request."
          explode: true
          in: query
          name: language
          required: true
          schema:
            $ref: '#/components/schemas/language'
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/voidTrader'
                type: array
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get the current Void Traders Information
      tags:
        - Worldstate
  /arcanes:
    get:
      deprecated: true
      description: Available Arcane Enhancements
      operationId: getArcanesData
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/arcane'
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get Arcane Enhancement Data
      tags:
        - Static Processing Data
  /arcanes/search/{query}:
    get:
      deprecated: true
      description: Available Arcane Enhancements
      operationId: searchArcanesData
      parameters:
        - description: Keyword to search for
          explode: false
          in: path
          name: query
          required: true
          schema:
            format: utf8
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/arcane'
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get Arcane Enhancement Data based on the query
      tags:
        - Searchable
  /conclave:
    get:
      description: Data about conclave challenges
      operationId: getConclaveData
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conclave'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get conclave challenge data
      tags:
        - Static Processing Data
  /conclave/search/{query}:
    get:
      description: Data about conclave challenges
      operationId: searchConclavesData
      parameters:
        - description: Keyword to search for
          explode: false
          in: path
          name: query
          required: true
          schema:
            format: utf8
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conclave'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get conclave challenge data based on the query
      tags:
        - Searchable
  /drops/search/{query}:
    get:
      description: Percentages for Warframe drops in different areas of the game
      operationId: searchDropsData
      parameters:
        - description: Keyword to search for
          explode: false
          in: path
          name: query
          required: true
          schema:
            format: utf8
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drops'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get Warframe Drops data
      tags:
        - Searchable
  /events:
    get:
      description: Data about events
      operationId: getEventsData
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get Event-specific Data
      tags:
        - Static Processing Data
  /events/search/{query}:
    get:
      description: Data about events
      operationId: searchEventsData
      parameters:
        - description: Keyword to search for
          explode: false
          in: path
          name: query
          required: true
          schema:
            format: utf8
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get Event-specific Data based on the query
      tags:
        - Searchable
  /factions:
    get:
      description: Strings for translating faction identifiers.
      operationId: getFactionsData
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/factions'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get Faction translation information.
      tags:
        - Static Processing Data
  /factions/search/{query}:
    get:
      description: Strings for translating faction identifiers.
      operationId: searchFactionsData
      parameters:
        - description: Keyword to search for
          explode: false
          in: path
          name: query
          required: true
          schema:
            format: utf8
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/factions'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get Faction translation information based on the query.
      tags:
        - Searchable
  /fissureModifiers:
    get:
      description: Fissure translation identifiers
      operationId: getFissuresData
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fissureModifiers'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get Fissure Modifier translation data.
      tags:
        - Static Processing Data
  /fissureModifiers/search/{query}:
    get:
      description: Fissure translation identifiers
      operationId: searchFissuresData
      parameters:
        - description: Keyword to search for
          explode: false
          in: path
          name: query
          required: true
          schema:
            format: utf8
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fissureModifiers'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get Fissure Modifier translation data based on the query.
      tags:
        - Searchable
  /items:
    get:
      description: Item information.
      operationId: getItemsData
      parameters:
        - allowEmptyValue: false
          description: Keys to keep on the object. Comma separated for multiple
          explode: true
          in: query
          name: only
          required: false
          schema:
            format: utf8
            type: string
          style: form
        - allowEmptyValue: false
          description: Keys to remove on the object. Comma separated for multiple
          explode: true
          in: query
          name: remove
          required: false
          schema:
            format: utf8
            type: string
          style: form
        - deprecated: true
          description: Language to retrieve. Doesn't always work with caching. See Language
            query string parameter.
          explode: false
          in: header
          name: Accept-Language
          required: false
          schema:
            $ref: '#/components/schemas/language'
          style: simple
        - allowEmptyValue: false
          deprecated: false
          description: "Language to retrieve. With Caching, this has become required\
          \ if you want your reply to always match your request."
          explode: true
          in: query
          name: language
          required: true
          schema:
            $ref: '#/components/schemas/language'
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/items'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get all item data.
      tags:
        - warframe-items
  /items/{query}:
    get:
      description: Item information.
      operationId: searchItemData
      parameters:
        - allowEmptyValue: false
          description: Keys to keep on the object. Comma separated for multiple
          explode: true
          in: query
          name: only
          required: false
          schema:
            format: utf8
            type: string
          style: form
        - allowEmptyValue: false
          description: Keys to remove on the object. Comma separated for multiple
          explode: true
          in: query
          name: remove
          required: false
          schema:
            format: utf8
            type: string
          style: form
        - description: Keyword to search for
          explode: false
          in: path
          name: query
          required: true
          schema:
            format: utf8
            type: string
          style: simple
        - allowEmptyValue: false
          description: Key to search by on the object
          explode: true
          in: query
          name: by
          required: false
          schema:
            default: name
            format: utf8
            type: string
          style: form
        - deprecated: true
          description: Language to retrieve. Doesn't always work with caching. See Language
            query string parameter.
          explode: false
          in: header
          name: Accept-Language
          required: false
          schema:
            $ref: '#/components/schemas/language'
          style: simple
        - allowEmptyValue: false
          deprecated: false
          description: "Language to retrieve. With Caching, this has become required\
          \ if you want your reply to always match your request."
          explode: true
          in: query
          name: language
          required: true
          schema:
            $ref: '#/components/schemas/language'
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/item'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get data for the closest matching single item
      tags:
        - Searchable
        - warframe-items
  /items/search/{query}:
    get:
      description: "Item information, such as name, unique name, type, and image name."
      operationId: searchItemsData
      parameters:
        - allowEmptyValue: false
          description: Keys to keep on the object. Comma separated for multiple
          explode: true
          in: query
          name: only
          required: false
          schema:
            format: utf8
            type: string
          style: form
        - allowEmptyValue: false
          description: Keys to remove on the object. Comma separated for multiple
          explode: true
          in: query
          name: remove
          required: false
          schema:
            format: utf8
            type: string
          style: form
        - description: Keyword to search for
          explode: false
          in: path
          name: query
          required: true
          schema:
            format: utf8
            type: string
          style: simple
        - allowEmptyValue: false
          description: Key to search by on the object
          explode: true
          in: query
          name: by
          required: false
          schema:
            default: name
            format: utf8
            type: string
          style: form
        - deprecated: true
          description: Language to retrieve. Doesn't always work with caching. See Language
            query string parameter.
          explode: false
          in: header
          name: Accept-Language
          required: false
          schema:
            $ref: '#/components/schemas/language'
          style: simple
        - allowEmptyValue: false
          deprecated: false
          description: "Language to retrieve. With Caching, this has become required\
          \ if you want your reply to always match your request."
          explode: true
          in: query
          name: language
          required: true
          schema:
            $ref: '#/components/schemas/language'
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/items'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get data for all matching items
      tags:
        - Searchable
        - warframe-items
  /languages:
    get:
      description: Get language strings to assist translation. (Prefer the /languages/search/:query
        route)
      operationId: getLanguageData
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/languages'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get Language strings for Warframe.
      tags:
        - Static Processing Data
  /languages/search/{query}:
    get:
      description: Get language strings to assist translation.
      operationId: searchLanguagesData
      parameters:
        - description: Keyword to search for
          explode: false
          in: path
          name: query
          required: true
          schema:
            format: utf8
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/languages'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get Language strings for Warframe based on the query.
      tags:
        - Searchable
  /locales:
    get:
      description: Locales supported by the API
      operationId: getLocales
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/language'
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Full list of supported locales
      tags:
        - Static Processing Data
  /missionTypes:
    get:
      description: Mission Type information to aid translating identifiers
      operationId: getMissionData
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/missionTypes'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get MissionType Translation Keys
      tags:
        - Static Processing Data
  /missionTypes/search/{query}:
    get:
      description: Mission Type information to aid translating identifiers
      operationId: searchMissionTypesData
      parameters:
        - description: Keyword to search for
          explode: false
          in: path
          name: query
          required: true
          schema:
            format: utf8
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/missionTypes'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get MissionType Translation Keys based on the query
      tags:
        - Searchable
  /mods:
    get:
      operationId: getModsData
      parameters:
        - allowEmptyValue: false
          description: Keys to keep on the object. Comma separated for multiple
          explode: true
          in: query
          name: only
          required: false
          schema:
            format: utf8
            type: string
          style: form
        - allowEmptyValue: false
          description: Keys to remove on the object. Comma separated for multiple
          explode: true
          in: query
          name: remove
          required: false
          schema:
            format: utf8
            type: string
          style: form
        - deprecated: true
          description: Language to retrieve. Doesn't always work with caching. See Language
            query string parameter.
          explode: false
          in: header
          name: Accept-Language
          required: false
          schema:
            $ref: '#/components/schemas/language'
          style: simple
        - allowEmptyValue: false
          deprecated: false
          description: "Language to retrieve. With Caching, this has become required\
          \ if you want your reply to always match your request."
          explode: true
          in: query
          name: language
          required: true
          schema:
            $ref: '#/components/schemas/language'
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/mod'
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get all mod data.
      tags:
        - warframe-items
  /mods/{query}:
    get:
      description: Mod information.
      operationId: searchModData
      parameters:
        - allowEmptyValue: false
          description: Keys to keep on the object. Comma separated for multiple
          explode: true
          in: query
          name: only
          required: false
          schema:
            format: utf8
            type: string
          style: form
        - allowEmptyValue: false
          description: Keys to remove on the object. Comma separated for multiple
          explode: true
          in: query
          name: remove
          required: false
          schema:
            format: utf8
            type: string
          style: form
        - description: Keyword to search for
          explode: false
          in: path
          name: query
          required: true
          schema:
            format: utf8
            type: string
          style: simple
        - allowEmptyValue: false
          description: Key to search by on the object
          explode: true
          in: query
          name: by
          required: false
          schema:
            default: name
            format: utf8
            type: string
          style: form
        - deprecated: true
          description: Language to retrieve. Doesn't always work with caching. See Language
            query string parameter.
          explode: false
          in: header
          name: Accept-Language
          required: false
          schema:
            $ref: '#/components/schemas/language'
          style: simple
        - allowEmptyValue: false
          deprecated: false
          description: "Language to retrieve. With Caching, this has become required\
          \ if you want your reply to always match your request."
          explode: true
          in: query
          name: language
          required: true
          schema:
            $ref: '#/components/schemas/language'
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mod'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get data for the closest matching single mod
      tags:
        - Searchable
        - warframe-items
  /mods/search/{query}:
    get:
      description: "Mod information, such as name, unique name, type, and image name."
      operationId: searchModsData
      parameters:
        - allowEmptyValue: false
          description: Keys to keep on the object. Comma separated for multiple
          explode: true
          in: query
          name: only
          required: false
          schema:
            format: utf8
            type: string
          style: form
        - allowEmptyValue: false
          description: Keys to remove on the object. Comma separated for multiple
          explode: true
          in: query
          name: remove
          required: false
          schema:
            format: utf8
            type: string
          style: form
        - description: Keyword to search for
          explode: false
          in: path
          name: query
          required: true
          schema:
            format: utf8
            type: string
          style: simple
        - allowEmptyValue: false
          description: Key to search by on the object
          explode: true
          in: query
          name: by
          required: false
          schema:
            default: name
            format: utf8
            type: string
          style: form
        - deprecated: true
          description: Language to retrieve. Doesn't always work with caching. See Language
            query string parameter.
          explode: false
          in: header
          name: Accept-Language
          required: false
          schema:
            $ref: '#/components/schemas/language'
          style: simple
        - allowEmptyValue: false
          deprecated: false
          description: "Language to retrieve. With Caching, this has become required\
          \ if you want your reply to always match your request."
          explode: true
          in: query
          name: language
          required: true
          schema:
            $ref: '#/components/schemas/language'
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/mod'
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get data for all matching mods
      tags:
        - Searchable
        - warframe-items
  /operationTypes:
    get:
      description: Operation Types information to aid translating identifiers for
        global upgrades
      operationId: getOperationsData
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/operationTypes'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get operation types data.
      tags:
        - Static Processing Data
  /operationTypes/search/{query}:
    get:
      description: Operation Types information to aid translating identifiers for
        global upgrades
      operationId: searchOperationsData
      parameters:
        - description: Keyword to search for
          explode: false
          in: path
          name: query
          required: true
          schema:
            format: utf8
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/operationTypes'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get operation types data based on the query.
      tags:
        - Searchable
  /persistentEnemy:
    get:
      description: Persistent Enemy translation information for aiding translation
        of identifiers.
      operationId: getAcolyteData
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/acolyteI18n'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get Persistent Enemy translation data.
      tags:
        - Static Processing Data
  /persistentEnemy/search/{query}:
    get:
      description: Persistent Enemy translation information for aiding translation
        of identifiers.
      operationId: searchAcolytesData
      parameters:
        - description: Keyword to search for
          explode: false
          in: path
          name: query
          required: true
          schema:
            format: utf8
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/searchAcolytesData_200_response_inner'
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get Persistent Enemy translation data based on the query.
      tags:
        - Searchable
  /solNodes:
    get:
      description: Sol Node translation information for aiding the translation of
        identifiers.
      operationId: getNodeData
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/solNode'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWorldstateByPlatform_400_response'
          description: An error occurred
      summary: Get Sol Node information and translation data.
      tags:
        - Static Processing Data
  /solNodes/search/{query}:
    get:
      description: Sol Node translation information for aiding the translation of
        identifiers.
      operationId: searchNodesData
      parameters:
        - description: Keyword to search for
          explode: false
          in: path
          name: query
          required: true
          schema:
            format: utf8
            type: string
[...]
